name: Playwright Test
on:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Run playwright tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install -g yarn && yarn
      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps
      - name: Run playwright tests
        run: PLAYWRIGHT_JSON_OUTPUT_NAME=results.json npx playwright test --reporter=json
      - uses: daun/playwright-report-summary@v3
        if: always()
        with:
          report-file: results.json